img { 
    width: 400px;
    height: 400px;
}
body{
    text-align: center;
    background-color: #fff;
}
span{
    color: #654321;
}
span3{
    color: #654321;
}
span2{
    color: #964B00;
}
span4{
    color: #964B00;
}